<%= stylesheet_link_tag "users" %>

<p id="topLines"> Login Page </p> 

    <p id="textError"><%= flash[:error] %></p>
    <p id="textError"><%= flash[:notice] %></p>

    <%= form_for(:session, url: login_path) do |f|%>
        
        <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username %> 
        </div>

        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>

        <div class="actions">
            <%= f.submit "Log In" %>
            <% end %>
        </div>

<p id="options"> <%= link_to "Sign Up", signup_path %> </p>

<p id="options"> <%= link_to "Sign In With Google", "auth/google_oauth2" %> </p>