<%= form_for @climber do |f| %> 
    <% if @climber.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@climber.errors.count, "error") %>
                Prohibited this Climber from being saved into the database:
            </h2>

            <h2> Following Errors: </h2> 
            <ul>
                <% @climber.errors.full_messages.each do |message| %>
                    <li> <%= message %> 
                <% end %> 
            </ul> 
        </div> 
    <% end %> 

    <div class="field">
        <%= f.label 'Name' %><br>
        <%= f.text_field :name %><br> 
    </div>
        
    <div class="field">
        <%= f.label 'Age' %><br>
        <%= f.text_field :age %><br> 
    </div>

    <div class="field">
        <%= f.label 'Years of Experience' %><br>
        <%= f.text_field :experience %><br> 
    </div>

    <h4> Completed Mountains </h4> 
    <div class="field">
        <%= f.collection_check_boxes :mountain_ids, Mountain.all, :id, :name %>
        <%= f.fields_for :mountains, @climber.mountains.build do |mountains_fields| %>
            <%= mountains_fields.text_field :name %>
        <% end %>
    </div> 

    <h4> Climb Members </h4> 
    <div class="field"> 
        <%= f.collection_check_boxes :climber_id, Climber.all, :id, :name %> 
    </div> 

    <h4> Most Recent Completed Climb </h4> 
    <div class="field"> 
        <%= f.fields_for :climbs do |climb| %>
                <%= climb.label :name %>
                <%= climb.text_field :name %><br>

                <%= climb.label :duration %>
                <%= climb.text_field :duration %><br>

                <%= climb.label :date_started %>
                <%= climb.text_field :date_started %><br>

                <%= climb.label :date_completed %>
                <%= climb.text_field :date_completed %><br>
        <% end %>
    </div> 


    <div class="actions">
        <%= f.submit "Submit Climber" %>
    </div> 

<% end %>



