<%= form_for @climber do |f| %> 

<%= render partial: 'layouts/errors', locals: {object: @climber}%>


    <div class="field">
        <%= f.label 'Name' %><br>
        <%= f.text_field :name %><br> 
    </div>
        
    <div class="field">
        <%= f.label 'Age' %><br>
        <%= f.text_field :age %><br> 
    </div>

    <div class="field">
        <%= f.label 'Years of Experience' %><br>
        <%= f.text_field :experience %><br> 
    </div>

    <p> Last Mountain Climbed </p> 
    <div class="field">
            <%= f.collection_check_boxes :mountain_ids, Mountain.all, :id, :name %>
        <br>
        <%= f.fields_for :mountains, @climber.mountains.build do |mountains_fields| %>
                <%= mountains_fields.text_field :name %>
        <% end %>
    </div> 

    <p> Most Recent Completed Climb </p> 
    <div class="field"> 
        <%= f.fields_for :climbs do |date| %>

            <%= date.label :date_started %>
            <%= date.date_select :date_started, {:include_blank => true, :default => nil} %><br>
        
        <% end %>
    </div> 

    <br> 
    <div class="actions">
        <%= f.submit "Submit Climber" %>
    </div> 

<% end %>



