<%= stylesheet_link_tag "climbers" %>


<%= render partial: 'layouts/header' %>

<h2> <%= @climber.name %> </h2> 

<p> Age: <%= @climber.age %> </p> 
<p> First Mountain Conquered By <% @climber.name %> <%= @climber.mountains.first.name %> 
<p> Years of Experience: <%= @climber.experience %> </p> 

<%= link_to 'Edit', edit_climber_path(@climber) %>

    <% if @climber.number_mountains > 0 %>    
        <h3><%= @climber.name %> Has Climbed <%= @climber.number_mountains %> Mountains </h3> 
    <% end %>

    <% if @climber.number_mountains > 0 %>    
        <h3> Mountains Climbed by <%= @climber.name %> </h3>
            <% @climber.mountains.each do |mountain| %>
                <div> <%= link_to mountain.name, mountain_path(mountain)%>
                </div> 
            <% end %>
    <% end %> 


