<h2> <%= @climber.name %> </h2> 
<p> Age: <%= @climber.age %> </p> 
<p> Years of Experience: <%= @climber.experience %> </p> 
<p> Climbers that have climbed with: <%= @climber.climber_members %> </p> 


<%= link_to 'Edit', edit_climber_path(@climber) %>

    <% if @climber.number_mountains > 0 %>    
<h3>    <%= @climber.name %> "Has Climbed" <%= @climber.number_mountains %> "Mountains" </h3> 
    <% end %>

    <% if @climber.number_mountains > 0 %>    
        <h3> Mountains Climbed by Climber </h3>
            <% @climber.climbs.each do |climb| %>
                <div> <%= link_to climb.mountain.name, mountain_path(climb.mountain)%>
                </div> 
            <% end %>
    <% end %> 

