<%= form_for @mountain do |f| %> 

<%= render partial: 'layouts/errors', locals: {object: @mountain}%>

    <div class="field">
        <%= f.label 'Name' %><br>
        <%= f.text_field :name %><br> 
    </div> 

    <div class="field">
        <%= f.label 'Route' %><br>
        <%= f.text_field :route %><br> 
    </div> 

    <div class="field">
        <%= f.label 'Difficulty Score' %><br>
        <%= f.text_field :difficulty_rating %><br> 
    </div> 

    <div class="actions">
        <%= f.submit "Submit Mountain" %>
    </div> 

<% end %> 
