<%= render partial: 'layouts/header' %>

<h1> <%= @mountain.name %> </h1> 

<h3> Has Been Conquered <%= pluralize(@mountain.explorations, 'Time')%> </h3> 

<h3> Climbers who have completed Climb </h3> 
    <% @mountain.climbs.each do |climb| %> 
        <div> <%= link_to climb.climber.name, climber_path(climb.climber)%> 
    </div>

    <% end %> 
<br> 
<br> 
<%= link_to 'Edit', edit_mountain_path(@mountain) %>
