<%= form_for @climb do |f| %> 

<%= render partial: 'layouts/errors', locals: {object: @climb}%>

    <div class="field">
        <%= f.label 'Name' %><br>
        <%= f.text_field :name %><br> 
    </div> 

    <div class="field">
        <%= f.label 'Date & Time Started' %><br>
        <%= f.date_select :date_started %><br> 
    </div> 

    <div class="field">
        <%= f.label 'Date & Time Finished' %><br>
        <%= f.date_select :date_completed %><br> 
    </div> 

    <div class="field"> 
        <%= f.label :mountain %>
        <%= f.collection_select :mountain_id, Mountain.all, :id, :name %>
    <div class="field">

    <div class="field"> 
        <%= f.label :climber %>
        <%= f.collection_select :climber_id, Climber.all, :id, :name %>
    <div class="field">

    <div class="actions">
        <%= f.submit "Submit Climb" %>
    </div>         

<% end %> 


