<%= form_for @climb do |f| %> 

<%= render partial: 'layouts/errors', locals: {object: @climb}%>

    <div class="field">
        <%= f.label 'Date Started' %><br>
        <%= f.date_select :date_started %><br> 
    </div> 

    <div class="field">
        <%= f.label 'Date Finished' %><br>
        <%= f.date_select :date_completed %><br> 
    </div> 

    <div class="field"> 
        <%= f.label :mountain %>
        <%= f.collection_select :mountain_id, Mountain.all, :id, :name %>
    <div class="field">

    <div class="field"> 
        <%= f.label :climber %>
        <%= f.hidden_field :climber_id, value: params[:climber_id] %>    
    <div class="field">

    <div class="actions">
        <%= f.submit "Submit Climb" %>
    </div>         

<% end %> 


