<p> Editing <%= @climb.duration %> </p> 
<p> Editing <%= @climb.date_started %> </p> 
<p> Editing <%= @climb.date_completed %> </p> 
<p> Editing <%= @climb.climber.name %> </p> 
<p> Editing <%= @mountain.mountain.name %> </p> 


<%= render 'form' %> 

<%= link_to "Cancel Editing", @climb %> 







