<%= render partial: 'layouts/header' %>

<% if @climbs.present? %>
    <% @climbs.each do |climb| %>
        <% climb.date_started%>
    <% end %>
<% end %> 

<% if @recently_completed.present? %>
    <h1> Most Recent Completed Climbs</h1> 
    <% @recently_completed.each do |climb| %>
        <div> 
        <% if climb.date_started.present?%>

            <h3> <%= link_to climb.climber.name, climber_path(climb.climber) %> 
                Completed <%= climb.mountain.name %>   
            </h3>
            <h4> Date Started Climb <h4> 
            <p><%= climb.date_started %> </p> 

            <h4> Date Completed Climb <h4> 
            <h5><%= climb.date_completed %> </h5> 
        <% else %>
            <h1> Climbers First Conquered Mountains </h1> 
            <%= link_to climb.climber.name, climber_path(climb.climber) %>
        <% end %>
        </div> 
    <% end %>

<% else %>

    <h2> No Completed Climbs </h2> 

<% end %>


<%= link_to "Add Climb with Climber", new_climber_climb_path(@unique_climber)%>