<p>  <%= @climb.duration %> </p> 
<p>  <%= @climb.date_started %> </p> 
<p>  <%= @climb.date_completed %> </p> 
<p>  <%= @climb.climber.name %> </p> 
<p>  <%= @mountain.mountain.name %> </p> 

<%= link_to 'Edit', edit_climb_path(@climb) %>

