<h2>    <%= link_to @climb.mountain.name , mountain_path(@climb.mountain) if @climb.mountain %>  climbed by 
        <%= link_to @climb.climber.name, climber_path(@climb.climber) if @climb.climber %>  </h2> 

<p> Started at <%= @climb.date_started %> </p> 
<p> Ended at <%= @climb.date_completed %> </p> 
<br> 
<br> 
<%= link_to 'Edit', edit_climb_path(@climb) %>
 

