<%= stylesheet_link_tag "users" %>
<%= render partial: 'layouts/header' %>

<p id="bodysection"> Hello <%= @user.name %> </p> 
<p id="bodyText"> Username: <%= @user.email %> </p>  
<p id="bodyText"> <%= @user.username %> </p>
<p id="bodyText"><%= link_to 'Edit', edit_user_path(@user) %>

<div class="actions" id="options"><%= form_tag user_path(@user.id), method: "delete" do %>
    <%= submit_tag "Delete #{@user.name}" %></div>
<% end %> 
